@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600&display=swap');


* { box-sizing: border-box; }

html{ scroll-behavior: smooth; }

body { margin: 0; }

/* header */
    .header {
        padding: 30px;
        text-align: center;
        font-size: 35px;
        height: 100vh;
        width: 100%;
    }

    h2 {
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
        position: relative;
        z-index: 2;
        color: white;
    }

/* video */
    #myVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: 1;
    }

/* btn */
    .btn_discover {
        background-color: #3DB2FF;
        color: #000;
        padding: 8px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 180px;
        margin: 15% 0 0 0;
        border:1px solid #3DB2FF;

        position: relative;
        z-index: 2;

        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    .btn_discover:hover {
        background-color:#FF2442;
        border:1px solid #FF2442;
    }

    .btn_select {
        background-color: #3DB2FF;
        color: #000;
        padding: 5px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 160px;
        margin-left: 5%;
        border:1px solid #3DB2FF;

        position: relative;
        z-index: 2;

        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    .btn_select:hover {
        background-color:#FF2442;
        border:1px solid #FF2442;
    }

    .btn_subscribe {
        background-color: #3DB2FF;
        color: #000;
        padding: 8px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 160px;
        margin: 5% 0 0 35%;
        border:1px solid #3DB2FF;

        position: relative;
        z-index: 2;

        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    .btn_subscribe:hover {
        background-color:#FF2442;
        border:1px solid #FF2442;
    }

    #btn_top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #FF2442;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      
      #btn_top:hover {
        background-color: #3DB2FF;
      }
      
/* Titles and texts */
    .title {
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
        font-size: 36px;
        margin: 3% 0 0 0;
    }

    .text {
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        font-size: 24px;
        text-align: justify;
        margin: 0 0 0 5%;
    }

    .in_column {
        width: 90%;
    }

    .three_column {
        font-size: 26px;
    }

    .examples {
        font-size: 18px;
        text-align: left;
        margin: 0 0 0 5%;   
    }

    .newsletter {
        text-decoration: none;
        text-align: center;
    }

/* Container */
    .row {
        display: -webkit-flex;
        display: flex;
    }

    .column {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 10px;
        height: 100vh;
    }

    .btn {
        margin-top: 15%;
    }

    .description {
        width: 50%;
    }

    .misty_rose {
        background-color: #F1DEDE;
        text-align: left;
        padding: 10px;
        height: 100vh;
    }

    .honey_yellow {
        background-color: #FFB830;
    }

/* Form  */
    form input {
        width: 80%;
        font-size: 26px;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        margin: 5% 0 0 10%;
    }

/* img */
    .img_rocket {
        width: 280px; 
        height: 280px;
        margin: 10% 0 0 15%;
    }

    .img_web {
        width: 450px;
        margin: 25% 0 0 10%;
    }

    .prints {
        width: 250px;
        margin: 30% 0 0 20%;
    }

/* footer */
    .footer-basic {
        padding:5px 0;
        background-color: #898980;
        color:#000;
    }

    .footer-basic .social {
        text-align:center;
        padding-top:25px;
    }

    .footer-basic .social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin:0 8px;
        color:inherit;
        opacity:0.75;
    }

    .footer-basic .social > a:hover {
        opacity:0.9;
        color: #FF2442;
    }

    .footer-basic .copyright {
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        margin-top:15px;
        text-align:center;
        font-size:16px;
        color:black;
    }
